<main>

  <div class="container " style="height: 150px;">
    <div class="text-center" style="margin-top: 150px;">

      <h1> Bienvenido a la Biblioteca InfoBooks</h1>
      <p> Aqui podras buscar Informaciones sobre libros y sus respectivos autores</p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="container marketing">


    <h2 class="text-center"> Grandes Autores Importantes de la Historia</h2>
    <br>
    <br>
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="160" height="160" src="/Assets/img/Gabriel.jpg" alt="">


        <h2>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Gabriel Garcia Marquez</font>
          </font>
        </h2>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">"El sexo es el consuelo que le queda a uno cuando ya no le alcanza el
              amor".</font>
          </font>
        </p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="160" height="160" src="/Assets/img/Miguel.jfif" alt="">

        <h2>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Miguel de Cervantes</font>
          </font>
        </h2>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> "El que no sabe gozar de la ventura cuando le viene, no debe
              quejarse si se pasa."</font>
          </font>
        </p>

      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="160" height="160" src="/Assets/img/Jorge.jfif" alt="">

        <h2>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Jorge Luis Borges</font>
          </font>
        </h2>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">“Siempre he sentido que hay algo en Buenos Aires que me gusta. Me
              gusta tanto que no me gusta que le guste a otras personas. Es un amor así, celoso”.</font>
          </font>
        </p>

      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-6">
        <h2 class="featurette-heading">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"></font>
          </font><span class="text-muted">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Las Bibliotecas</font>
            </font>
          </span>
        </h2>
        <p class="lead">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">La historia de la biblioteca es una subdisciplina dentro de la
              ciencia de la biblioteca y la ciencia de la información y la biblioteca que se centra en la historia de
              las bibliotecas y su papel en las sociedades y culturas. Algunos ven el campo como un subconjunto del
              historial de información. </font>
          </font>
        </p>
      </div>
      <div class="col-md-5" style="margin-left: 50px; margin-top:100px;">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" src="/Assets/img/Biblioteca.jfif" alt="">


      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-6 order-md-2">
        <h2 class="featurette-heading">
          <font style="vertical-align: inherit;"></font><span class="text-muted">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Los Autores</font>
            </font>
          </span>
        </h2>
        <p class="lead">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">El autor es la persona que crea una obra, sea artística, literaria o
              científica. El autor no solo crea, también, puede cambiar alguna obra.

              En la literatura, el autor es una noción que pertenece al sistema literario, así como las nociones de
              lector, editor y obra literaria.

              Para Michel Foucault, el autor es una función presente en algunos discursos, es representado por el nombre
              propio del autor, separado del sujeto empírico; y siendo una función del discurso, "permite reagrupar un
              determinado número de textos, delimitarlos, excluir algunos, oponerlos a otros".1​

              La noción de autor se ha transformado a lo largo del tiempo debido a las diferentes prácticas históricas y
              a la crítica literaria y teoría literaria;2​ la concepción que tenemos de ella en la actualidad; tiene sus
              orígenes en el Renacimiento; y está relacionada con términos de originalidad, autoridad, y propiedad moral
              o intelectual y económica.

              El término proviene del latín auctor, -ōris, "aumentador, productor, creador, autor, padre, abuelo,
              antepasado, fundador".3​</font>
          </font>
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" src="/Assets/img/Autores.png" style="margin-right:50px; margin-top:100px;" alt="">

      </div>
    </div>




    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">back to top</font>
        </font>
      </a></p>
    <p>
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">© 2021–2021 FreeLancers24k - Elian Perez - 2018-6573. </font>
        <font style="vertical-align: inherit;">· </font>
      </font>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">freelancers24k@gmail.com</font>
        </font>
     
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;"> · </font>
      </font>
      <a href="https://github.com/Elian2424">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">GitHub</font>
        </font>
      </a>
    </p>
  </footer>
</main>