<main class="container main-admin">
    
    <div class="row">
        <div class="container text-center">
            <h2>Gestor de Autores. Que Desea hacer?</h2>
            <br>
            <img width="96px" height="96px" src="/Assets/img/pngkey.com-books-icon-png-8773087.png" alt="">
            <br>
            <br>
        <a class="btn btn-primary" href="/Autores/Create">Registrar Autor</a>  

        <a class="btn btn-primary" href="/Autores/List">Lista de Autores</a>
        </div>
    </div>
</main>