<main class="container main-admin">
    
    <div class="row">
        <div class="container text-center">
            <h2>Gestor de Libros. Que Desea hacer?</h2>
            <br>
            <img src="/Assets/img/icons8-book-96.png" alt="">
            <br>
            <br>

        <a class="btn btn-primary" href="/Libros/Create">Registrar Libro</a>  

        <a class="btn btn-primary" href="/Libros/List">Lista de Libros</a>
        </div>
    </div>
</main>