<main class="container">
    
    <div class="row">
        <div class="container text-center">
            <h2>Gestor de Editoriales. Que Desea hacer?</h2>
            <br>
            <img width="96px" height="96px" style="color: aliceblue;" src="/Assets/img/editorial.png" alt="">
            <br>
            <br>
        <a class="btn btn-primary" href="/Editoriales/CreateP">Registrar Editorial</a>  

        <a class="btn btn-primary" href="/Editoriales/List">Lista de Editorial</a>
        </div>
    </div>
</main>